html,body
{
	width:100%;
	height: 100%;
	background-color: #1df2e7;
}
.gamearea
{
	font-size: 4vw;
	position: relative;
	display: block;
	margin:auto;
	height:50%;
	width:75%;
	border:2px solid black;
	background-color: #eda8ec;
}
.questionarea
{
	font-size: 4vw;
	text-align: center;
	position: absolute;
	top:25%;
	display: inline-block;
	width:75%;
	height:25%;
	border:2px solid black;
	background-color: #e5aaa7;
}
#showwrong,#showcorrect
{
	font-size: 4vw;
	position: absolute;
	top:2%;
	left:25%;
	display: none;
	width:25%;
	height:20%;
	margin:auto;
	border:2px solid black;
	text-align: center;
}
#showcorrect
{
	background-color: #77f442;
}
#showwrong
{
	background-color: #f20707;
}
.scorearea
{
	background-color: #faff05;
	position: absolute;
	right: 0px;
	top: 0px;
	display: inline-block;
	width:20%;
	height:20%;
	border:2px solid black;
}
.timearea
{
	background-color: #faff05;
	position: absolute;
	right: 0px;
	top: 25%;
	display: inline-block;
	width:20%;
	height:20%;
	border:2px solid black;
}
.boxarea
{
	background-color: #e2a82b;
	position: absolute;
	top:60%;
	display: inline-block;
	width:75%;
	height:40%;
	border:2px solid black;
}
.box{
	text-align: center;
	margin-left:5px;
	margin-top: 2px;
	display: inline-block;
	width:20%;
	height:90%;
	border:2px solid black;
}
.box:hover{
	background-color: #0a7748;
}
.startbutton
{
	font-size: 4vw;
	position: absolute;
	bottom:5%;
	right:2%;
	height:25%;
	width:20%;
	background-color: #F0F8FF;
	box-shadow: 5px 5px;
	border-radius: 50%;
}
.gameoverarea
{
		font-size: 4vw;
		text-align: center;
		position: absolute;
		top:0%;
		left:0%;
		display: none;
		margin:auto;
		height:50%;
		width:75%;
		border:2px solid black;
		background-color: #f4f142;
}
